* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
}

#area {
    width: 500px;
    height: 300px;
    margin: 0 auto;
    position: relative;
    -webkit-box-shadow: 0px 0px 3px 1px rgba(66, 68, 90, 1);
    -moz-box-shadow: 0px 0px 3px 1px rgba(66, 68, 90, 1);
    box-shadow: 0px 0px 3px 1px rgba(66, 68, 90, 1);
    overflow: hidden;
    top: 30px;
}

#circle {
    width: 40px;
    height: 40px;
    background-color: indianred;
    position: absolute;
    top: 0;
    left: 0;
    border-radius: 50%;
    transition: transform .5s ease-in-out;
}


