* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 80px;
    background-color: indianred;
}

.logo {
    text-transform: uppercase;
    font-size: 30px;
    margin-left: 60px;
    letter-spacing: 2px;
}

nav {
    display: flex;
    justify-content: center;
    gap: 30px;
    margin-right: 1vw;
}

nav a {
    display: block;
    text-decoration: none;
    color: white;
    text-transform: uppercase;
    height: 80px;
    line-height: 50px;
    padding: 20px;
    font-size: 15px;
}

nav a:hover {
    background-color: #883b3b;
}

/*hamburger -----------------------------*/

input {
    position: absolute;
    top: 30px;
    right: 32px;
    z-index: 12;
    opacity: 0;
    cursor: pointer;
    height: 35px;
    width: 35px;
    display: none;
}

.box {
    top: 15px;
    right: 20px;
    position: absolute;
    width: 60px;
    height: 60px;
    background: indianred;
    border-radius: 10px;
    display: none;
}

.hamburger {
    position: relative;
    display: flex;
    flex-flow: wrap column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    transition: .7s;
}

.wrapper {
    width: 100vw;
    position: absolute;
    left: -100vw;
    transition: left 1s ease-in-out;
}

.element {
    height: 15vh;
    background: #f59090;
}

.element:hover {
    background-color: indianred;
}

.element p {
    text-transform: uppercase;
    letter-spacing: 2px;
    text-align: center;
    line-height: 15vh;
    color: white;
    font-size: 15px;
    cursor: pointer;
}

input:checked + .box .hamburger {
    transform: rotate(360deg);
}

.hamburger span {
    position: absolute;
    width: 40px;
    height: 5px;
    background: #fff;
    border-radius: 25px;
    transition: .25s;
}

input:checked + .box .hamburger span:nth-child(1) {
    opacity: 0;
}

.hamburger span:nth-child(2) {
    transform: translateY(-10px);
}

input:checked + .box .hamburger span:nth-child(2) {
    transform: rotate(45deg);
}

.hamburger span:nth-child(3) {
    transform: translateY(10px);
}

input:checked + .box .hamburger span:nth-child(3) {
    transform: rotate(-45deg);
}

/*---------------------------------------*/

main {
    padding: 20px;
}

@media (max-width: 768px) {

    /*mobile menu transitions*/
    input:checked ~ div.wrapper {
        /*width: 100vw;*/
        left: 0;
        transition: left 1s ease-in-out;
    }

    .logo {
        font-size: 20px;
    }

    nav {
        display: none;
    }

    input {
        display: block;
    }

    .box {
        display: block;
    }
}
