.empty {
  padding: 20px;
}

.empty h1 {
  font-size: 50px;
}

.empty a {
  background-color: black;
  display: inline-block;
  text-decoration: none;
  color: whitesmoke;
  padding: 15px;
  cursor: pointer;
  border-radius: 10px;
  font-size: 38px;
  margin: 20px;
}

.wrapper {
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

.elem {
  width: 400px;
  background-color: whitesmoke;
  padding: 10px;
  border-radius: 10px;
  -webkit-box-shadow: 0px 0px 5px 0px rgba(66, 68, 90, 1);
  -moz-box-shadow: 0px 0px 5px 0px rgba(66, 68, 90, 1);
  box-shadow: 0px 0px 5px 0px rgba(66, 68, 90, 1);
}

.elem .img img {
  width: 380px;

}

.info {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

.status {
  display: block;
  width: 100%;
  font-size: 25px;
  font-weight: bold;
}
