<a class='cartLink' routerLink="/cart">
  <img src="https://img.icons8.com/ios-glyphs/30/000000/shopping-cart--v1.png" alt="cartIcon"/>

  <div class="cartInfo">
    <p *ngIf="cartService.getItems().length === 0">0 items</p>
    <p *ngIf="cartService.getItems().length === 1">1 item</p>
    <p *ngIf="cartService.getItems().length > 1">{{ cartService.getItems().length }} items</p>
    <p *ngIf="cartService.getItems().length > 0">total: {{ cartService.getCartValue() }}$</p>
  </div>
</a>

<div class="container">


  <div class="top">
    <app-filter *ngIf="trips.length > 0" [trips]="trips" [minPrice]="getMinPrice(trips)"
                [maxPrice]="getMaxPrice(trips)" (filtersEmitter)="changeFilters($event)"></app-filter>
    <div class="currency">
      <select [(ngModel)]="selectedCurrency" (ngModelChange)="currencyChange()">
        <option selected>$</option>
        <option>€</option>
        <option>PLN</option>
      </select>

      <div class="booked" [ngStyle]="{'background-color': getBookedTripsAmount() < 10 ? 'indianred' : 'deepskyblue'}">
        <p style="cursor: default">zarezerwowanych: {{ getBookedTripsAmount() }}</p>
      </div>
    </div>
  </div>

<div class="trips-container">
  <div class="trip" *ngFor="let trip of (trips | filterTrips: filters)"
  [ngClass]="{'expensive': trip.unitprice === getMaxPrice(trips),
             'cheap': trip.unitprice === getMinPrice(trips)}">
    <img src='{{ trip.imagelink }}' alt="" class="tripImg">
    <h3>{{ trip.name | uppercase }}</h3>
    <p>{{ trip.country | uppercase }}</p>
    <p>ceny od {{ (multiplier * trip.unitprice).toFixed(2) }} {{ selectedCurrency }}</p>
    <p>od: {{ trip.startdate }} do: {{ trip.enddate }}</p>
    <p>wolnych miejsc: <span style="font-size: 25px; font-weight: bold"
                        [ngStyle]="{'color': trip.placelimit <= 3 ? 'red' : 'black'}">{{ trip.placelimit }}</span></p>
    <p>{{ trip.description }}</p>

    <div class="bottom">

      <div class="buttons">
        <img (click)="unbook(trip)"
             class="removeBtn"
             [ngStyle]="{'filter': trip.booked > 0 ? 'invert(0)' : 'invert(80%)'}"
             src="https://img.icons8.com/ios-glyphs/30/null/minus.png" alt="icon"/>
        <img (click)="book(trip)"
             class="addBtn"
             [ngStyle]="{'filter': trip.placelimit > 0 ? 'invert(0)' : 'invert(80%)'}"
             src="https://img.icons8.com/ios-glyphs/30/null/macos-maximize.png" alt="icon"/>
      </div>

      <p style="font-size: 17px; font-weight: bold" *ngIf="trip.placelimit === 0">Brak wolnych miejsc!</p>

      <app-delete-trip [tripToDelete]="trip" (delete)="deleteTrip($event)"></app-delete-trip>

    </div>
    <app-rate-trip [tripToRate]="trip"></app-rate-trip>
  </div>
</div>

  <div class="form-container">
    <app-add-trip (submitFormEvent)="addTrip($event)"></app-add-trip>
  </div>
</div>
