* {
    margin: 0;
    padding: 0;
}

#gridcontainer {
    display: grid;
    grid-template-columns: repeat(4, minmax(0, 1fr));
    grid-template-rows: 250px 80px 530px 80px;
}

#gridcontainer div {
    text-align: center;
    background-color: lightpink;
    border: 1px solid black;
    text-transform: uppercase;
    color: white;
    font-family: Arial, sans-serif;
    font-size: 20px;
    padding: 20px;
}

#gridcontainer div:nth-child(1) {
    grid-column: 1 / 5;
}

#gridcontainer div:nth-child(7) {
    grid-column: 2 / 5;
}

#gridcontainer div:nth-child(8) {
    grid-column: 1 / 5;
}

img {
    float: left;
}
