.wrapper {
  display: flex;
  gap: 20px;
  justify-content: space-evenly;
  align-items: center;
}

p {
  font-size: 14px;
}

.price {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.price input {
  display: block;
  width: 100px;
}

.date {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.date input {
  display: block;
  width: 100px;
}
