* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

.wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;

}

header {
    display: flex;
    align-items: center;
    height: 80vh;
    background-color: dodgerblue;
    clip-path: polygon(0 0, 100% 0, 100% 81%, 0% 100%);

}

.text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 30px;
    color: white;
    width: 55%;
    margin-left: 5vw;
    animation: transitionIn1 1s;
}

a {
    display: block;
    text-decoration: none;
    color: white;
    width: 80px;
    height: 40px;
    text-align: center;
    line-height: 40px;
    border: 1px solid white;
    border-radius: 15px;
    font-size: 13px;
}

a:hover {
    background-color: #1465b2;
}

.form {
    position: absolute;
    width: 30%;
    left: 65%;
    top: 8vw;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    height: 40vw;
    max-height: 400px;
    background-color: whitesmoke;
    border-radius: 30px;
    box-shadow: 2px 2px lightgrey;
    animation: transitionIn2 1s;
}

.form h1 {
    font-size: 20px;
    width: 80%;
    font-weight: normal;
}

.dane {
    display: flex;
    flex-direction: column;
    gap: 15px;
    width: 80%;
}

.form a {
    background-color: dodgerblue;
}

.form a:hover {
    background-color: #1465b2;
}

input {
    height: 25px;
    padding: 10px;
    border: none;
}

@keyframes transitionIn1 {

    from {
        transform: translateX(-150px);
        opacity: 0.5;
    }

    to {
        transform: translateX(0);
        opacity: 1;
    }
}

@keyframes transitionIn2 {

    from {
        transform: translateX(150px);
        opacity: 0.5;
    }

    to {
        transform: translateX(0);
        opacity: 1;
    }
}
