<div class="footer-wrapper">

  <div class="info">
    <div class="address">
      <img src="https://img.icons8.com/external-smashingstocks-glyph-smashing-stocks/30/FFFFFF/external-localization-business-smashingstocks-glyph-smashing-stocks.png"/>
      <p>Ogrodowa 11, 61-820 Poznań</p>
    </div>

    <div class="phones">
      <div class="tel">
        <img src="https://img.icons8.com/external-anggara-basic-outline-anggara-putra/24/FFFFFF/external-call-social-media-interface-anggara-basic-outline-anggara-putra.png"/>
        <p>tel1: +48 142 852 314</p>
      </div>
      <div class="tel">
        <img src="https://img.icons8.com/external-anggara-basic-outline-anggara-putra/24/FFFFFF/external-call-social-media-interface-anggara-basic-outline-anggara-putra.png"/>
        <p>tel2: +48 532 643 312</p>
      </div>
    </div>
  </div>

  <div class="socials">
    <a href="">
      <img src="https://img.icons8.com/color/48/null/instagram-new--v1.png"/>
    </a>
    <a href="">
      <img src="https://img.icons8.com/color/48/null/facebook-new.png"/>
    </a>
    <a href="">
      <img src="https://img.icons8.com/color/48/null/twitter--v1.png"/>
    </a>
    <a href="">
      <img src="https://img.icons8.com/color/48/null/youtube-play.png"/>
    </a>
  </div>


</div>
